* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: auto;
  width: 500px;
  background-color: white;
  /* background-color: black; */
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}
